.searchBox {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    width: 300px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
  }